# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temporary files and directories
*.dir
CMakeFiles
CMakeCache.txt
*cmake*
[Mm]akefile
*project

# Data files
*.vtk

# Parameter files
*.prm

